.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}
footer {
  background-color: rgb(73, 79, 82);
  color: white;
  width: 40%;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.CountriesView {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.countryListContainer {
  width: 30%;
  border: 1px solid;
  border-radius: 2%;
  padding: 1rem;
  margin: 1rem;
}
.countriesListImg {
  width: 40%;
}
